#cards {
    display: inline-flex;
    gap: 30px;
    margin: 20px;
}

.card {
    background-color: rgb(220, 247, 244);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 130px;
    height: auto;
    margin: auto;
    padding: 20px;
    /* border: solid 1px black; */
    border-radius: 7px;
    box-shadow: 0 0 10px gray;
}

.card h2 {
    font-size: 1em;
}